<div layout="row">
  <h1 class="md-headline">
    Your companies
  </h1>
</div><!-- row -->

<md-grid-list md-cols="3" md-gutter="10px" md-row-height="2:3">

  <md-grid-tile ng-repeat="company in companies.myList" flex>
    <md-card flex>
      <img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{ company.street }},{{ company.city }},{{ company.state }}
        &zoom=13&size=400x200
        &maptype=roadmap&markers=color:red,size:mid|{{ company.street }},{{ company.city }},{{ company.state }}
        &key=AIzaSyBEO6BhO_vejx0e51OowkbsxH2n2s3JBbI">
      <md-card-content>
        <h2 class="md-subheader md-primary">
          <md-icon ng-if="!company.status === 'pending'" class="md-primary">verified_user</md-icon>
          <md-icon ng-if="company.status === 'pending'" class="md-primary">timer</md-icon>
          {{ company.name }}</h2>
        <p>
          {{ company.city }}, {{ company.state }}
        </p>
        <p>
          {{ company.description }}
        </p>
        <p>
          X Jobs Listed
        </p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button ui-sref="home.companies.edit({ id: company.$id })" class="md-icon-button">
          <md-icon>mode_edit<md-icon>
        </md-button>
        <md-menu>
          <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Open {{ company.name }} menu">
            <md-icon md-menu-origin>expand_more<md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <md-button ui-sref="home.companies.detail({ id: company.$id })" aria-label="{{ company.name }} details">
                <md-icon md-menu-align-target>arrow_forward</md-icon>
                Details
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ui-sref="home.companies.detail({ id: company.$id })" aria-label="{{ company.name }} job postings">
                <md-icon md-menu-align-target>work</md-icon>
                Job postings
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ui-sref="home.companies.detail({ id: company.$id })" aria-label="{{ company.name }} users">
                <md-icon md-menu-align-target>people</md-icon>
                Users
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-card>
  </md-grid-tile>
</md-grid-list>


<div layout="row">
  <h1 class="md-headline">
    All companies
  </h1>
</div><!-- row -->

<md-card>
  <md-list class="md-no-style" layout-fill style="padding: 0px;">
    <md-list-item ng-repeat="company in companies.list | orderBy:'name'" class="md-3-line" ng-click="jobs.go('home.jobs.detail', {id: job.$id})">
      <img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{ company.street }},{{ company.city }},{{ company.state }}
        &zoom=13&size=100x100
        &maptype=roadmap&markers=color:red,size:mid|{{ company.street }},{{ company.city }},{{ company.state }}
        &key=AIzaSyBEO6BhO_vejx0e51OowkbsxH2n2s3JBbI"
        class="md-avatar"
        alt="{{item.who}}" />
      <div class="md-list-item-text">
        <h3>{{ company.name }}</h3>
        <p>
          {{ company.street }}, {{ company.city }}, {{ company.state }}
        </p>
        <p>
          X Jobs Posted
        </p>
        <md-icon class="md-secondary" ng-click="$log.log('got em')" aria-label="Claim Business">folder_special</md-icon>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</md-card>
