<section layout="row" flex layout-align="center">

  <md-content flex layout="column">

    <div flex layout="row">
      <h1 class="md-headline">Editing job posting</h1>
    </div><!-- row -->

    <div flex layout="row">

      <div flex="35" flex-offset="5" layout-padding>
        <p class="md-subhead">
          Basic information
        </p>
      </div><!-- left column -->

      <div flex flex-offset="5">
        <md-card flex>
          <md-subheader class="md-primary">
            <md-icon class="md-primary">work</md-icon>
            Basic Information
          </md-subheader>
          <md-progress-linear md-mode="determinate" value="20" flex></md-progress-linear>

          <div layout-padding>
            <div layout layout-sm="column" layout-align="center">
              <md-input-container flex>
                <label>Job Title</label>
                <input type="text" ng-model="detail.title">
              </md-input-container>
            </div>

            <div layout layout-sm="column" layout-align="center">
              <md-input-container flex>
                <label>Summary</label>
                <textarea type="text" ng-model="detail.summary"></textarea>
              </md-input-container>
            </div>

            <div layout layout-sm="column">
              <md-input-container flex>
                <label>Job Posting URL</label>
                <input type="text" ng-model="detail.url">
              </md-input-container>
            </div>

            <div layout layout-sm="column" layout-align="center">
              <h2 class="md-subhead">Skills:</h2>
              <md-chips class="custom-chips" ng-model="detail.skills"></md-chips>
            </div>
          </div><!-- layout-padding -->

        </md-card>
      </div><!-- right column -->

    </div><!-- row -->

    <div flex layout="row">

      <div flex="35" flex-offset="5" layout-padding>
        <p class="md-subhead">
          Company information
        </p>
      </div><!-- left column -->

      <div flex flex-offset="5">
        <md-card flex>
          <md-subheader class="md-primary">
            <md-icon class="md-primary">business</md-icon>
            Company information
          </md-subheader>
          <md-progress-linear md-mode="determinate" value="20" flex></md-progress-linear>

          <div layout-padding>
            <form name="companyName">
              <md-autocomplete
                name="auto"
                md-selected-item="job.selectedCompany"
                md-search-text-change="job.searchCompanyChange(job.searchText)"
                md-search-text="job.searchCompany"
                md-selected-item-change="job.selectedCompanyChange(company)"
                md-items="company in job.companies | filter:job.searchCompany"
                md-item-text="company.name"
                md-floating-label="Company"
                required>
                <md-item-template>
                  <span md-highlight-text="job.searchCompany" md-highlight-flags="^i">{{company.name}}</span>
                </md-item-template>
                <div ng-messages="companyName.auto.$error">
                  <div ng-message="required">This is required.</div>
                </div><!-- error -->
                <md-not-found>
                  <span ui-sref="home.companies.create">
                    Create "{{ job.searchCompany }}"!
                  </span>
                </md-not-found>
              </md-autocomplete>
            </form>


            <div layout layout-sm="column" layout-align="center">
              <md-input-container flex="70">
                <label>Company Address</label>
                <input type="text" ng-model="job.selectedCompany.street" disabled>
              </md-input-container>

              <md-input-container flex>
                <label>Address 2</label>
                <input type="text" ng-model="job.selectedCompany.street2" disabled>
              </md-input-container>
            </div>

            <div layout layout-sm="column">
              <md-input-container flex="50">
                <label>City</label>
                <input type="text" ng-model="job.selectedCompany.city" disabled>
              </md-input-container>

              <md-input-container flex="25">
                <label>State</label>
                <input type="text" ng-model="job.selectedCompany.state" disabled>
              </md-input-container>

              <md-input-container flex="25">
                <label>Postal Code</label>
                <input name="postalCode" ng-model="job.selectedCompany.postal_code" disabled>
              </md-input-container>
            </div>

          </div><!-- layout-padding -->

        </md-card>
      </div><!-- right column -->

    </div><!-- row -->

    <div flex layout="row">

      <div flex="35" flex-offset="5" layout-padding>
        <p class="md-subhead">
          About the role
        </p>
        <p>

        </p>
      </div><!-- left column -->

      <div flex flex-offset="5">
        <md-card flex>
          <md-subheader class="md-primary">
            <md-icon class="md-primary">work</md-icon>
            About the role
          </md-subheader>
          <md-progress-linear md-mode="determinate" value="20" flex></md-progress-linear>

          <div layout-padding>
            <div layout layout-sm="column" layout-align="center">
              <md-input-container flex>
                <label>About the role</label>
                <textarea type="text" ng-model="detail.description"></textarea>
              </md-input-container>
            </div>
          </div><!-- layout-padding -->

        </md-card>
      </div><!-- right column -->

    </div><!-- row -->

    <div flex layout="row">

      <div flex="35" flex-offset="5" layout-padding>
        <p class="md-subhead">
          Responsibilities
        </p>
        <p>

        </p>
      </div><!-- left column -->

      <div flex flex-offset="5">
        <md-card flex>
          <md-subheader class="md-primary">
            <md-icon class="md-primary">work</md-icon>
            Responsibilities
          </md-subheader>
          <md-progress-linear md-mode="determinate" value="20" flex></md-progress-linear>

          <div layout-padding>
            <div layout layout-sm="column" layout-align="center">
              <md-input-container flex>
                <label>Responsibilities</label>
                <textarea type="text" ng-model="detail.responsibility"></textarea>
              </md-input-container>
            </div>
          </div><!-- layout-padding -->

        </md-card>
      </div><!-- right column -->

    </div><!-- row -->

    <div flex layout="row">

      <div flex="35" flex-offset="5" layout-padding>
        <p class="md-subhead">
          Requirements
        </p>
        <p>

        </p>
      </div><!-- left column -->

      <div flex flex-offset="5">
        <md-card flex>
          <md-subheader class="md-primary">
            <md-icon class="md-primary">work</md-icon>
            Requirements
          </md-subheader>
          <md-progress-linear md-mode="determinate" value="20" flex></md-progress-linear>

          <div layout-padding>
            <div layout layout-sm="column" layout-align="center">
              <md-input-container flex>
                <label>Requirements</label>
                <textarea type="text" ng-model="detail.requirements"></textarea>
              </md-input-container>
            </div>
          </div><!-- layout-padding -->

        </md-card>
      </div><!-- right column -->

    </div><!-- row -->

  </md-content>
</section>
