<section layout="row" flex layout-align="center">

  <md-content flex layout="column">

    <div flex layout="row">
      <h1 class="md-headline">New job postings</h1>
    </div><!-- row -->

    <div flex layout="row">

      <md-card>
        <md-list class="md-no-style" layout-fill style="padding: 0px;">
          <md-list-item ng-repeat="job in jobs.list" class="md-3-line" ng-click="jobs.go('home.jobs.detail', {id: job.$id})">
            <div class="md-list-item-text">
              <h3>{{ job.title }}</h3>
              <p>
                <span ng-repeat="skill in job.skills" class="md-hue-1">{{ skill }}{{$last ? '' : ', '}}</span>
              </p>
              <md-icon class="md-secondary" ng-click="job.favorite = !job.favorite" ng-class="{'md-warn': job.favorite}" aria-label="Save to Favorites">{{ job.favorite ? 'favorite' : 'favorite_border' }}</md-icon>
              <p style="white-space: nowrap;text-overflow: ellipsis; overflow: hidden;">{{ job.summary }}</p>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-card>

    </div>
  </md-content>
</section>
