<md-toolbar class="md-whiteframe-z3" ng-show="!showSearch">
  <md-progress-linear ng-show="home.loading" md-mode="indeterminate" value="0" class="md-hue-1"></md-progress-linear>
  <div class="md-toolbar-tools">
    <md-button ng-click="home.toggleNav()" class="md-icon-button" aria-label="Settings">
      <md-icon>menu</md-icon>
    </md-button>
    <h2>
      <a ui-sref="home.jobs.index">Detroit Startup Jobs</a>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Search" ng-click="showSearch = !showSearch">
      <md-icon>search</md-icon>
    </md-button>
    <md-button ng-click="home.toast('Favorites Coming Soon!')" class="md-icon-button" aria-label="Saved Jobs">
      <md-icon>favorite</md-icon>
    </md-button>
    <md-button ng-click="home.toast('Notifications Coming Soon!')" class="md-icon-button" aria-label="Notifications">
      <md-icon>notifications</md-icon>
    </md-button>
    <md-button ui-sref="home.companies.index" ng-show="home.account.verified === true" class="md-icon-button" aria-label="My Companies">
      <md-icon>business</md-icon>
    </md-button>

    <md-menu md-position-mode="target-right target" >
      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon md-menu-origin>account_circle</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-show="!home.account">
          <md-button ng-click="home.go('login', {action: 'login'})" class="md-primary">
              <div layout="row">
                <p flex>Login</p>
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">lock_open</md-icon>
              </div>
          </md-button>
        </md-menu-item>
        <md-menu-item ng-show="!home.account">
          <md-button ng-click="home.go('login', {action: 'register'})" class="md-primary">
              <div layout="row">
                <p flex>Register</p>
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">person_add</md-icon>
              </div>
          </md-button>
        </md-menu-item>
        <md-menu-item ng-show="home.account">
          <md-button ng-click="home.go('home.account.update', {uid: home.account.$id })" class="md-primary">
              <div layout="row">
                <p flex>My Profile</p>
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">mode_edit</md-icon>
              </div>
          </md-button>
        </md-menu-item>
        <md-menu-item ng-show="home.account">
          <md-button ng-click="home.go('logout')" class="md-primary">
              <div layout="row">
                <p flex>Logout</p>
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">exit_to_app</md-icon>
              </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>

<md-toolbar class="md-hue-1 md-whiteframe-z3" ng-show="showSearch">
  <div class="md-toolbar-tools">
    <md-button ng-click="showSearch = !showSearch" aria-label="Back">
      <ng-md-icon icon="arrow_back"></ng-md-icon>
    </md-button>
    <h3 flex="10">
      Back
    </h3>
    <md-input-container md-theme="input" flex>
      <label>&nbsp;</label>
      <input ng-model="search.who" placeholder="enter search">
    </md-input-container>
    <md-button aria-label="Search" ng-click="showSearch = !showSearch">
      <ng-md-icon icon="search"></ng-md-icon>
    </md-button>
    <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
      <ng-md-icon icon="more_vert"></ng-md-icon>
    </md-button>
  </div>
</md-toolbar>

<section layout="row">
  <div flex></div>

  <md-content flex="80" layout="column">

    <div ui-view></div>

  </md-content><!-- column -->

  <div flex></div>
</section>

<md-fab-speed-dial ng-if="home.account.employer && home.account.verified" md-direction="left" class="md-fab-bottom-right md-scale md-hover-full" ng-mouseenter="true" >
  <md-fab-trigger>
    <md-button aria-label="Add..." class="md-fab md-warn">
      <md-icon>add</md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button ng-click="home.createJob($event)" aria-label="Add Job Posting" class="md-fab md-mini" >
      <md-icon>work</md-icon>
    </md-button>
    <md-button ui-sref="home.companies.create" aria-label="Add Business" class="md-fab md-mini">
      <md-icon>business</md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>
